<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Normalize-->
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="preload" href="/css/normalize.css" as="style"/>

        <link rel="preload" href="/css/style.css" as="style" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/tabla.css"  rel="stylesheet" >
        <!--Animaciones SVG-->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <!--Animaciones de entradas-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <!-- Iconos Fontello-->
        <link rel="stylesheet" href="/fontello-67dcd4d9/css/fontello.css">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/scripts.js"></script>
    
    </head>	
    <header class="back">
        <div class="max back__">
            <a class="back__enlace" href="principal.html"> ← Regresar</a>
        </div>
    </header>
    <section data-aos="fade-up" data-aos-duration="2000" class="section__historial" id="hitorial">
		<h2 class="">Historial</h2>
            <div class="historial__flex">
                <div>
                    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_aKRZfw.json" background="transparent"
                        speed="1"  class="animacion__hitorial" loop autoplay></lottie-player>
            </div>
            <di  class="tablaHistorial">
                <table>
                    <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Resultado</th>
                            </tr>
                     </thead>
                     <tbody >
                        <%historialList.forEach(historial=>{%>
                            <tr>
                                <td>
                                    <%= historial.fecha%>
                                </td>
                                <td>
                                    <%= historial.resultado%>
                                </td>
                            </tr>
                        <%})%>
                     </tbody>
                    </table>
                     
            </div>
            <!-- <script>
                let url = 'http://localhost:3000/historial/';
                  fetch(url)
                      .then( response => response.json() )
                      .then( data => mostrarData(historial) )
                      .catch( error => console.log(error) )
          
                  const mostrarData = (data) => {
                      console.log(data)
                      let body = ""
                      for (var i = 0; i < data.length; i++) {      
                         body+=`<tr><td>${data[i].fecha}</td><td>${data[i].resultado}</td></tr>`
                      }
                      //document.getElementById('data').innerHTML = body
                      console.log(body);
                  }
              </script> -->
                       <!--  <table id = "historial">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                </table>
                    <script>
                        let historial = new Array(4);
                        historial[0] = {fecha: '04-15-2022', resultado: 'Depresion'};
                        historial[1] = {fecha: '04-15-2022', resultado: 'Depresion'};
                        historial[2] = {fecha: '04-15-2022', resultado: 'Depresion'};
                        historial[3] = {fecha: '04-15-2022', resultado: 'Depresion'};


                        let tablaHistorial = document.getElementById('historial');
                        let bodyTabla = document.createElement('tbody');

                        historial.forEach(p =>{
                            let fila =document.createElement('tr');

                            let td = document.createElement('td');
                            td.innerText = p.fecha;
                            fila.appendChild(td);

                            td = document.createElement('td');
                            td.innerText = p.resultado;
                            fila.appendChild(td);

                            bodyTabla.appendChild(fila);
                        });

                        tablaHistorial.appendChild(bodyTabla);
                    </script>  -->
    </section>
</body>
</html>

